<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index_style.css') }}">
<style>



</style>
</head>
<body>

<ul class="nav">
  <li><a href="/index">Catalog App</a></li>
    {% if is_logged %}
    <li style="float:right"><a href="/gdisconnect"><button id="logBtn">LOGOUT</button></a></li>
    {% else %}
    <li style="float:right"><a href="/login"><button id="logBtn">LOGIN</button></a></li>
    {% endif %}
</ul>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<div class="items_div">
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>

    {% if is_logged and is_his %}

    <ul>
        <li style="color:orange"><a href="/catalog/{{ item.name }}/edit">Edit</a></li>
        <li style="color:orange"><a href="#">Delete</a></li>
    </ul>
    {% endif %}



</div>
</body>
</html>
